*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*global variable*/
    --h1-color:white;
}
body{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,orange,green);
}
.wrapper{
   width:90%;
   max-width:450px
}

h1{
    color: var(--h1-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2px;
}

.display_container{
    position: relative;
    background-color: black;
    border-radius: 1rem;
    margin:1rem 0;
    padding-top:0.35rem;
}

.generator{
    background-color: transparent;
    width:100%;
    padding:1.50rem 1.5rem;
    color:yellow;
    font-size:1.5rem;
    font-weight: 600;
    line-height:30px;
    letter-spacing:1px;
    padding-right:3.25rem;
    border:none;
    outline: none;
}

.generator::placeholder{
    position:absolute;
    top:50%;
    left:1.5rem;
    font-size:1.5rem;
    line-height:30px;
    color:yellow;
    opacity:0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

#copy_image{
    position:absolute;
    top:44%;
    right:1.5rem;
    transform: translateY(-50%);
}
.input_container{
    width:100%;
    background-color:black;
    border-radius:1rem;
    padding:2rem;
}
.length_cotainer{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.length_cotainer p:nth-child(1){
    color:white;
    font-size: 1.5rem;
}

.length_cotainer p:nth-child(2){
    color:yellow;
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:75px;
}

.strength-container p:nth-child(1){
    color:white;
    font-size: 1.5rem;
}

.circle{
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;

}

.generate-button{
    background-color: violet;
    cursor: pointer;
    width:100%;
    text-align: center;
    padding:1rem 0;
    border-radius: 0.75rem;
    border-bottom:0.35rem solid yellow;
    text-transform: uppercase;
    letter-spacing:1px;
    color:yellow;
    font-weight: 600;
    font-size:1.25rem;
}

.check{
    display: flex;
    align-items: center;
    margin:1rem 0;
    gap:0 1rem;
}

.check input{
    appearance: none;
    width:20px;
    height: 20px;
    border: 1px solid cyan;
    cursor: pointer;
    position:relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: cyan;
}

.check input:checked::before{
    content: '✔ ';
    position: absolute;
    color: black;
    font-size:1.05rem;
    font-weight:600;
    left:50%;
    top:-3.5px;
    transform:translateX(-50%) translateY(10%);
}

.check label{
    color:white;
    font-size:1.25rem;
    letter-spacing:0.75px;
}

.slider{
    appearance: none;
    width:100%;
    height:0.75rem;
    cursor:pointer;
    background-color: violet;
    border-radius:1rem;
    margin-top:2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(violet,violet);
    background-repeat: no-repeat;
    border:none;
    outline:none;
}

.slider::-webkit-slider-thumb{
    position:relative;
    appearance: none;
    height: 2rem;
    width:2rem;
    border-radius:50%;
    background-color: yellow;
    cursor:pointer;
    margin-top:-3px;
    box-shadow:0px 0px 20px 0px rgba(255,229,61,0.50);
    transition:all 100ms ease-in;
}

.slider::-webkit-slider-thumb:hover{
    outline:2px solid yellow;
    background-color:black;
}

.slider:focus{
    outline:3px solid yellow;
}

.copyBtn{
    background-color: transparent;
}

#copy{
    background-color:violet;
    position:absolute;
    color:yellow;
    font-size:1.25rem;
    top:-35px;
    right:-7px;
    padding:5px 10px;
    border-radius:1rem;
    opacity: 0;
    transform:scale(0);
    transform-origin: bottom;
    transition:all 250ms ease-in-out;
}

#copy.active{
    opacity: 1;
    transform:scale(1);
}

#copy_image{
    width:36px;
    height:30px;
    color: black;
}


